<table cellpadding=0 cellspacing=10 border=0 width=300 height=80>
    <tr>
      <td width=60 height=60 align=center valign=center>
        <img src="../images/coverbg.jpg" border=0 width=50 height=50>
      </td>
      <td><img src="../images/left-1.png" border=0 width=40 height=40 class=circle></td>
      <td><img src="../images/play_2.png" border=0 width=40 height=40 class=circle></td>
      <td><img src="../images/right-1.png" border=0 width=40 height=40 class=circle></td>
    </tr>
  </table>